.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #EEEEF0;
    height: 250px;
    width: 345px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #D0D0DA;
    padding: 20px 0;
}

.input {
    font-size: 16px;
    padding: 20px 15px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 56px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.18);
    font-family: inherit;
}

.input:focus {
    box-shadow: inset 5px 4px 8px 0 rgba(0, 0, 0, 0.18);
    outline: none;
    color: #65657E;
}

.error {
    border: 2px solid #EB7675;
    color: #EB7675;
}

.floating_label {
    position: relative;
    font-weight: bold;
}

.floating_label .floating_element {
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 15px;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
}

.floating_label .active {
    padding: 28px 15px 12px 15px;
}

.floating_label .active + .floating_element{
    transform: translateY(-10px);
    opacity: 1;
}

.error_message {
    color: #EB7675;
    padding-left: 2px;
}

.error_message:before {
    content:"• ";
    color: #9D9DB3;
}

.submit_button {
    margin-top: 10px;
    width: 345px;
    border-radius: 15px;
    height: 56px;
    background-color: #6E6EF0;
    border: none;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.submit_button:hover {
    background-color: #5252f2;
}