.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #EEEEF0;
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #D0D0DA;
}